.input {
    width: 400px;
    height: 60px;
    border: none;
    outline-color: #1C366B;
    padding: 1rem;
    background-color: #EEEFF2;
    font-size: 1rem;
    color: #757575;

    @media (max-width: 480px) {
        width: 100%
    }
}